CarmaCustomerService.BI/Service References/ConsumerServiceClient/ConsumerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://carma.bdk.com/Services/Types" elementFormDefault="qualified" targetNamespace="http://carma.bdk.com/Services/Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BusinessRuleFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessRuleFault" nillable="true" type="tns:BusinessRuleFault" />
  <xs:complexType name="UnknownServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnknownServiceFault" nillable="true" type="tns:UnknownServiceFault" />
</xs:schema>